.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.img-div {
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-div-serv {
    height: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.padd-left {
    padding-left: 8px
}

.text-on-bottom>.button-inner {
    flex-direction: column;
    height: 10px;
}

.altura {
    height: 50px;
}

.social-like,
.social-dislike {
    border: none;
    outline: none;
    font-size: 16px;
    /*width: 48%;*/
    color: #fff;
}

.social-like {
    border-top-left-radius: 5px;
}

.social-dislike {
    border-top-right-radius: 5px;
}

.count,
.like,
.dislike {
    padding: 10px;
}

.count,
.dislike {
    border-radius: 30%;
    font-size: 12px;
}

.dislike {
    margin-left: -13px;
}

.count {
    margin-right: -10px;
}