<ion-header>
    <ion-navbar>
        <ion-title *ngFor="let s of service"> {{ s.nombre }} </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-slides *ngFor="let s of service">
            <ion-card>
                <ion-slide *ngFor="let f of s.FotoServicios">
                    <div class="img-div" [style.backgroundImage]="'url('+ f.url +')'"></div>
                </ion-slide>
            </ion-card>
        </ion-slides>
    </ion-row>
    <ion-card *ngFor="let s of service">
        <div text-wrap detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items">
            <truncated-text [text]="s.descripcion" [limit]="45" [truncating]="truncating"></truncated-text>
            <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            </expandable>
        </div>
    </ion-card>
    <ion-card>
        <ion-item class="padd-left">
            <button ion-button icon-only outline> <ion-icon name="thumbs-up"></ion-icon></button>
            <button ion-button icon-only outline> <ion-icon name="thumbs-down"></ion-icon></button>
            <br> 1899 1902
        </ion-item>
    </ion-card>
</ion-content>