.ios,
.md {
    page-home-place {
        button {
            align-items: baseline;
        }
    }
}

ul {
    padding: 0px;
    &.rating li {
        padding: 0px 5px !important;
        background: none;
        color: #ffb400;
        ion-icon {
            font-size: 30px;
        }
    }
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.img-div {
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-div-serv {
    height: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}