<ion-header>
    <ion-navbar>
        <ion-title *ngFor="let p of place"> {{ p.nombre }} </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-slides *ngFor="let p of place">
            <ion-card>
                <ion-slide *ngFor="let f of p.FotoLugars">
                    <div class="img-div" [style.backgroundImage]="'url('+ f.url +')'"></div>
                </ion-slide>
                <div class="top-right" *ngFor="let c of p.Calificacions">
                    <rating item-start [(ngModel)]="c.promedio" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                    </rating>
                </div>
            </ion-card>
        </ion-slides>
    </ion-row>
    <ion-card *ngFor="let p of place">
        <div text-wrap detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items">
            <truncated-text [text]="p.descripcion" [limit]="45" [truncating]="truncating"></truncated-text>
            <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
                <hr>
                <h3>Contacto</h3>
                <div *ngFor="let t of p.Telefonos">
                    <p>Telefono: {{t.numero}} </p>
                </div>
                <p>Correo: lugar@lugar.com</p>
            </expandable>
        </div>
    </ion-card>

    <ion-card>
        <ion-item class="padd-left">
            <rating no-padding item-start [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
            </rating>
            <button no-padding item-end ion-button>Enviar</button>
        </ion-item>
    </ion-card>
    <br>
    <div class="hr-padding">
        <hr>
    </div>
    <ion-row>
        <ion-card *ngFor="let p of place" (click)="goToServicesList(p.id)">
            <ion-item>
                <h2>Servicios</h2>
                <ion-icon name="arrow-forward" item-end></ion-icon>
            </ion-item>
        </ion-card>
        <ion-slides *ngFor="let p of place">
            <ion-slide *ngFor="let s of p.Servicios">
                <ion-card (click)="goToService(s.id)">
                    <div *ngFor="let f of s.FotoServicios">
                        <div class="img-div-serv" [style.backgroundImage]="'url('+ f.url +')'"></div>
                    </div>
                    <ion-card-content>
                        <ion-card-title>
                            <h2>{{ s.nombre }}</h2>

                        </ion-card-title>
                        <p>
                            {{ s.descripcion | truncate : 50}}
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-row>
</ion-content>