.ios,
.md {
    page-home-place {
        button {
            align-items: baseline;
        }
    }
}

ul {
    padding: 0px;
    &.rating li {
        padding: 0px 5px !important;
        background: none;
        color: #ffb400;
        ion-icon {
            font-size: 30px;
        }
    }
}